#app {
    width: 100%;
    height: 800px;
    background-color:cornsilk;
}
#grid{
    width: 100%;
    height: 800px;
    background-color:cornsilk;
}
h1{
    text-decoration: underline;
}

.container
{   column-width:100%;
    text-align: center;
  
}
#myCarousel
{
   background-color:burlywood;
   
}
.active{
   list-style-type: decimal-leading-zero;
}

#myCarousel img
{   
    height: 300px;
    margin-top: 35px;
    image-orientation: cover;
  
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : black;
    font-size: 20px;
}
.carousel li{
    list-style-type: square;
}

.carousel-content{
    font-size: 20px;
    
}
.carousel-indicator{
    margin-top: 80px;
    
}
body{
    background-color:blanchedalmond;
}
